.container {
    width: $container-width;
    margin: 0px auto;
}

.container-full {
    width: 100%;
}

.row {
    @extend .flex;
    @extend .flex--justify-center;
    @extend .align-center;
    
}


@media (max-width:576px) {
    .col-sm-1 {
        width: calc((100%/12)*1) !important;
    }
    .col-sm-2 {
        width: calc((100%/12)*2) !important;
    }
    .col-sm-3 {
        width: calc((100%/12)*3) !important;
    }
    .col-sm-4 {
        width: calc((100%/12)*4) !important;
    }
    .col-sm-5 {
        width: calc((100%/12)*5) !important;
    }
    .col-sm-6 {
        width: calc((100%/12)*6) !important;
    }
    .col-sm-7 {
        width: calc((100%/12)*7) !important;
    }
    .col-sm-8 {
        width: calc((100%/12)*8) !important;
    }
    .col-sm-9 {
        width: calc((100%/12)*9) !important;
    }
    .col-sm-10 {
        width: calc((100%/12)*10) !important;
    }
    .col-sm-11 {
        width: calc((100%/12)*11) !important;
    }
    .col-sm-12 {
        width: calc((100%/12)*12) !important ;
    }
}


@media (min-width:576px) and (max-width:1200px) {
    .col-md-1 {
        width: calc((100%/12)*1) !important;
    }
    .col-md-2 {
        width: calc((100%/12)*2) !important;
    }
    .col-md-3 {
        width: calc((100%/12)*3) !important;
    }
    .col-md-4 {
        width: calc((100%/12)*4) !important;
    }
    .col-md-5 {
        width: calc((100%/12)*5) !important;
    }
    .col-md-6 {
        width: calc((100%/12)*6) !important;
    }
    .col-md-7 {
        width: calc((100%/12)*7) !important;
    }
    .col-md-8 {
        width: calc((100%/12)*8) !important;
    }
    .col-md-9 {
        width: calc((100%/12)*9) !important;
    }
    .col-md-10 {
        width: calc((100%/12)*10) !important;
    }
    .col-md-11 {
        width: calc((100%/12)*11) !important;
    }
    .col-md-12 {
        width: calc((100%/12)*12) !important;
    }
}

@media (min-width:1200px) {
    .col-lg-1 {
        width: calc((100%/12)*1) !important;
    }
    .col-lg-2 {
        width: calc((100%/12)*2) !important;
    }
    .col-lg-3 {
        width: calc((100%/12)*3) !important;
    }
    .col-lg-4 {
        width: calc((100%/12)*4) !important;
    }
    .col-lg-5 {
        width: calc((100%/12)*5) !important;
    }
    .col-lg-6 {
        width: calc((100%/12)*6) !important;
    }
    .col-lg-7 {
        width: calc((100%/12)*7) !important;
    }
    .col-lg-8 {
        width: calc((100%/12)*8) !important;
    }
    .col-lg-9 {
        width: calc((100%/12)*9) !important;
    }
    .col-lg-10 {
        width: calc((100%/12)*10) !important;
    }
    .col-lg-11 {
        width: calc((100%/12)*11) !important;
    }
    .col-lg-12 {
        width: calc((100%/12)*12) !important;
    }
}


@for $i from 1 through 12 {
    .col-#{$i} {
        width:calc((100%/12)*#{$i})
    }
}

@media (max-width:$breakpoint-sm) {
    .container{ 
        width:100%;
    }

    #About{
        .about-base{
            display: block;
        }

        .info-content-right{
            margin: 40px 0px;
            
        }

    }

    #ProjectManager{
        
        .row{
            display: block !important;
        }
    }

    #Services{
        .service-content{
            display: grid;
            grid-template-columns: 1fr !important;
            grid-template-rows: 230px 230px 230px 230px 230px 230px !important;
            padding: 0px !important;

            
        }
    }

    #Testimonials, #Portfolio, #Services, #Fact, #Team, #newsLetter, #Blog, #About, #Blog-video, #Contact, #ContactBase, #ProjectManager {
        width: 34rem;

        .info-head{
            h3{
                text-align: center;
            }
        }

        .portfolio-content{
            grid-template-columns: 1fr !important;
            grid-template-rows: 340px !important;
        }

        .fact-content-item{
            i{
                font-size: 3rem !important;
            }

            h2{
                font-size: 3rem !important;
            }

            p{
                font-size:1rem !important;
            }
        }
        .portfolio-content-base{
            p{
                font-size: 1.1rem !important;
            }
        }

        .team-content{
            grid-template-columns: 1fr !important;
        }

        .blog-content{
            grid-template-columns: 1fr !important;
        }

        .contact-content{
            display: block !important;
            position: static !important;

            .contact-content-detail{
                margin: 10px 0px !important;
            }
        }

    }
}

@media (min-width:$breakpoint-sm) and (max-width:$breakpoint-md) {}

@media (min-width:$breakpoint-md) and (max-width:$breakpoint-lg) {}

@media (min-width:$breakpoint-lg) {}