#Blog-video {
    background-image: url(/images/video-bg.jpg);
    height: 100vh;
    clip-path: polygon(100% 10%, 0% 0%, 0% 85%, 100% 100%);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
    position: relative;
    padding-top: 90px;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .video-head {
        position: relative;
        z-index: 5;
        color: white;
        margin-top: 50px;
        text-align: center;
        h3 {
            font-size: 3.5rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .video-item {
        position: relative;
        z-index: 5;
        color: white;
        text-align: center;
        margin-top: 30px;
        p {
            font-size: 1rem;
        }
        .video-item-detail {
            @extend .mt-40;
            a {
                padding: 20px 30px;
                display: inline-block;
                border: 5px solid $main-green;
                border-radius: 50%;
                position: relative;
                z-index: 5;
                transition: .5s ease;
                &::before {
                    content: "\f04b";
                    margin-left: 3px;
                    font: 3rem FontAwesome;
                }
            }
            a:hover {
                background-color: $main-green;
                color: white;
            }
        }
    }
}