#ContactBase {
    background-image: url(/images/contactform-bg.jpg);
    height: 100vh;
    background-size: cover;
    clip-path: polygon(100% 5%, 0% 0%, 0% 90%, 100% 100%);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
    position: relative;
    margin-top: 100px;
    &::after {
        content: '';
        @extend .pt-30;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .row {
        flex-direction: column;
        form {
            @extend .flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 5;
            @extend .mt-30;
            justify-content: space-around;
        }
        textarea {
            margin: 20px 0px;
            color: #aaa;
            border-radius: 30px;
            padding: 50px 10px;
            box-sizing: border-box;
        }
        .common-button {
            padding: 10px 50px;
            border-radius: 30px;
            background-color: $main-green;
            text-align: center;
            display: flex;
            align-items: center;
            color: white;
            border: none;
            cursor: pointer;
            position: relative;
            font-weight: 600;
            z-index: 5;
            &::before {
                content: "\f1d8";
                position: absolute;
                font: 1rem FontAwesome;
                right: 18%;
                opacity: 0;
            }
            span {
                font-size: 1.2rem;
                font-weight: 500;
                position: relative;
                right: 0;
            }
        }
        .common-button:hover::before {
            transition: .3s;
            opacity: 1;
            right: 8%;
        }
        .common-button:hover.common-button span {
            transition: .3s;
            right: 10%;
        }
    }
    .section-header {
        position: relative;
        z-index: 5;
        color: white;
        margin-top: 50px;
        text-align: center;
        h3 {
            font-size: 3.5rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .input-container {
        @extend .flex;
        i {
            @extend .col-2;
            font-size: 1.5rem;
            background: $main-green;
            height: inherit;
            border-radius: 30px 0px 0px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        input {
            @extend .col-10;
            padding: 15px 0px 15px 10px;
            border-radius: 0px 30px 30px 0px;
            border: none;
            font-size: .9rem;
            color: #aaa;
        }
    }
}