#Contact{
    position: relative;
    .contact-content{
        display: flex;
        position: absolute;
        bottom:10%;
        right:10%;
        left:10%;

        .contact-content-detail{
            margin: 10px 20px;

        }
        
        .contact-content-item{
            
            padding: 0px 20px;

            h2{
                font-size: 1.3rem;
                border-bottom: 1px solid gray;
                @extend .py-10; 
                color: white;
            }

            p{
                font-size: 0.8rem;
                @extend .py-5;
                color: gray;
            }
        }

        i{
            @extend .flex;
            @extend .flex--justify-center;
            @extend .align-center;
            font-size: 4rem;
            color: $main-green;
            

        }

    }
    
}