#Fact {
    @extend .mt-40;
    background-image: url(/images/facts-bg.jpg);
    height: 100vh;
    clip-path: polygon(100% 10%, 0% 0%, 0% 85%, 100% 100%);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .fact-head {
        @extend .flex;
        @extend .flex--justify-center;
        @extend .align-center;
        margin-top: 50px;
        flex-direction: column;
        color: white;
        position: relative;
        z-index: 5;
        h2 {
            font-size: 3.5rem;
            margin-bottom: 15px;
            font-weight: bolder;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .fact-content {
        @extend .flex--justify-center;
        @extend .align-center;
        margin-top: 60px;
        color: white;
        position: relative;
        z-index: 5;
        .fact-content-item {
            @extend .flex--justify-center;
            @extend .align-center;
            @extend .flex;
            flex-direction: column;
            i {
                font-size: 6rem;
            }
            h2 {
                font-size: 4rem;
                color: $main-green;
                @extend .my-15;
            }
            p {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    }
}