#Footer{
    padding: 80px 0px;
    background-color: black;
    clip-path: polygon(100% 0%, 0% 10%, 0% 100%, 100% 100%);
    .footer-head{
        color: white;
        text-align: center;
        h2{
            font-size: 1rem;
        }

        p{
            font-size: .9rem;
        }
        ul{

            li{
                margin: 40px 15px;

                a{
                    padding: 20px;
                    border-radius: 30px;               
                    border: 2px solid $main-green;
                    text-align: center;
                    color: white;                    
                    cursor: pointer;
                    position: relative;                
                    font-weight: 600;
                    z-index: 5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &::before{                   
                        content: "\f099";                   
                        position: absolute;
                        font: 1.5rem FontAwesome;
                        right: 20%;                    
                        
                    }
                }

                a:hover::before{
                    transform: rotateY(180deg);
                    transition-duration: .1s;

                }

                a:hover{
                    background-color: $main-green;
                }

                .facebook{
                    &::before{                   
                        content: "\f09a"; 
                    }
                }

                .skype{
                    &::before{                   
                        content: "\f17e"; 
                    }
                }

                .youtube{
                    &::before{                   
                        content: "\f167"; 
                    }
                }

                .linkedin{
                    &::before{                   
                        content: "\f09a"; 
                    }
                }

                .github{
                    &::before{                   
                        content: "\f0d5"; 
                    }
                }

                .instagram{
                    &::before{                   
                        content: "\f16d"; 
                    }
                }

            }
        }
    }
}