body {
    background-color: $main-color;
    font-family: 'Raleway', sans-serif;
}

#Home {
    background-image: url(/images/cover-rotating-words.jpg);
    height: 100vh;
    clip-path: polygon(100% 0%, 0% 0%, 0% 98%, 100% 75%);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgbaa(0, 0, 0, 0.6);
    }
    .header-logo {
        position: relative;
        z-index: 3;
        padding-left: 15px;
    }
    .header-navbar {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: end;
        ul li :hover {
            color: $main-green;
        }
        ul {
            @extend .flex;
            @extend .align-center;
            @extend .flex--justify-center;
            text-transform: uppercase;
            li {
                @extend .p-15;
                font-size: 0.8rem;
                font-weight: bold;
            }
            i {
                margin-right: 5px;
            }
        }
    }
    .home-content {
        @extend .flex;
        @extend .align-center;
        @extend .flex--justify-center;
        .main-button {
            @extend .flex;
            @extend .align-center;
            @extend .flex--justify-center;
        }
        height: 350px;
        flex-direction: column;
        p {
            @extend .flex;
            @extend .align-center;
            @extend .flex--justify-center;
            @extend .p-40;
            position: relative;
            z-index: 3;
            color: white;
            font-size: 3.5rem;
            font-weight: bolder;
        }
        a:hover i {
            opacity: 1;
            @extend .pl-10;
        }
        a {
            @extend .flex;
            @extend .flex--justify-center;
            position: relative;
            z-index: 3;
            color: white;
            background-color: $main-green;
            font-size: 1rem;
            border-radius: 100px;
            width: 215px;
            font-weight: 900;
            text-transform: uppercase;
            i {
                position: relative;
                z-index: 3;
                font-size: larger;
                font-weight: 600;
                color: white;
                opacity: 0;
            }
        }
    }
    .common-button {
        padding: 10px 50px;
        border-radius: 30px;
        background-color: $main-green;
        text-align: center;
        display: flex;
        align-items: center;
        color: white;
        border: none;
        cursor: pointer;
        position: relative;
        font-weight: 600;
        z-index: 5;
        &::before {
            content: "\f063";
            position: absolute;
            font: 1rem FontAwesome;
            right: 18%;
            opacity: 0;
        }
        span {
            font-size: 1.2rem;
            font-weight: 500;
            position: relative;
            right: 0;
        }
    }
    .common-button:hover::before {
        transition: .3s;
        opacity: 1;
        right: 8%;
    }
    .common-button:hover.common-button span {
        transition: .3s;
        right: 10%;
    }
    //.box-menu{
    //position: relative;
    //z-index: 5;
    //color: white;
    //input{
    //display: none;
    //}
    //.checkbtn{
    //font-size: 2rem;
    // cursor: pointer;
    //}
    //#check:checked~.header-navbar {
    // left: 0%;
    //}
    //}
}