#newsLetter {
    background-image: url(/images/service-big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    position: relative;
    height: 100vh;
    clip-path: polygon(100% 0%, 0% 10%, 0% 100%, 100% 90%);
    margin-top: 50px;
    padding-top: 50px;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .newsLetter-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 4;
        color: white;
        @extend .mt-40;
        h1 {
            margin-bottom: 5px;
            font-size: 3.5rem;
        }
        p {
            font-size: 1.3rem;
        }
    }
    .newsLetter-item {
        position: relative;
        z-index: 4;
        margin: 40px auto;
        margin-bottom: 0;
        p {
            text-align: center;
            font-size: 1rem;
            line-height: 1.8;
            font-weight: 400;
            margin-bottom: 15px;
            color: white;
        }
        form {
            text-align: center;
            .input-container {
                display: flex;
                width: 100%;
                margin-bottom: 15px;
                border-radius: 50px;
                overflow: hidden;
            }
            i {
                padding: 10px;
                background: $main-green;
                color: white;
                min-width: 50px;
                text-align: center;
                font-size: 1.5rem;
            }
            .input-field {
                width: 100%;
                padding: 10px;
                outline: none;
                font-size: 1.2rem;
            }
            .common-button {
                padding: 10px 50px;
                border-radius: 30px;
                background-color: $main-green;
                text-align: center;
                color: white;
                border: none;
                cursor: pointer;
                position: relative;
                font-weight: 600;
                z-index: 5;
                display: flex;
                align-items: center;
                justify-content: center;
                &::before {
                    content: "\f0e0";
                    position: absolute;
                    font: 1rem FontAwesome;
                    right: 18%;
                    opacity: 0;
                }
                span {
                    font-size: 1.2rem;
                    position: relative;
                    right: 0;
                    font-weight: 500;
                }
            }
            .common-button:hover::before {
                transition: .3s;
                opacity: 1;
                right: 8%;
            }
            .common-button:hover.common-button span {
                transition: .3s;
                right: 10%;
            }
        }
    }
}