#Portfolio {
    .portfolio-menu {
        ul {
            display: flex;
            color: white;
            justify-content: center;
            margin: 50px 0;
            li {
                font-size: 1rem;
                padding: 10px 20px;
                margin: 0px 10px;
                border: 2px solid $main-green;
                border-radius: 50px;
                font-weight: 600;
            }
            li:hover {
                background-color: $main-green;
            }
        }
    }
    .portfolio-content {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: 340px 340px 340px;
        gap: 40px;
        @extend .px-20;
        .portfolio-content-item {
            .portfolio-content-detail {
                width: 100%;
                height: 73%;
                display: block;
                position: relative;
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgbaa(0, 0, 0, 0.6);
                    opacity: 0;
                    transition: 0.2s;
                }
                img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 7px;
                }
                i {
                    position: absolute;
                    top: 45%;
                    left: 45%;
                    z-index: 3;
                    font-size: 30px;
                    color: rgbaa(207, 207, 207);
                    opacity: 0;
                }
            }
            .portfolio-content-detail:hover::after {
                opacity: 1;
            }
            .portfolio-content-detail:hover i {
                opacity: 1;
            }
            .portfolio-content-base {
                color: white;
                h3 {
                    border-left: 4px solid $main-green;
                    @extend .my-15;
                    font-size: 1.1rem;
                    font-weight: 600;
                }
                p {
                    font-size: 0.9rem;
                    font-weight: 300;
                    @extend .pr-40;
                }
            }
        }
    }
}