#ProjectManager {
    background-image: url(/images/projectmanager-bg.jpg);
    height: 100vh;
    background-attachment: fixed;
    clip-path: polygon(100% 5%, 0% 0%, 0% 90%, 100% 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-top: 50px;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .project-img {
        display: flex;
        justify-content: center;
        img {
            border-radius: 50%;
            border: 15px solid #9acd32;
            position: relative;
            z-index: 3;
            top: 100px;
        }
    }
    .project-content {
        position: relative;
        z-index: 3;
        top: 100px;
        color: white;
        @extend .px-20;
        .project-content-item {
            h4 {
                font-size: 3rem;
                @extend .my-20;
            }
            span {
                font-size: 1.5rem;
                @extend .my-20;
            }
            p {
                font-size: 1rem;
                @extend .my-20;
                font-style: italic;
                line-height: 1.3;
            }
            .px-20 {
                border-left: 5px solid $main-green;
            }
            a {
                padding: 30px;
                border-radius: 40px;
                border: 2px solid $main-green;
                text-align: center;
                color: white;
                cursor: pointer;
                position: relative;
                font-weight: 600;
                z-index: 5;
                display: flex;
                align-items: center;
                justify-content: center;
                &::before {
                    content: "\f099";
                    position: absolute;
                    font: 1.5rem FontAwesome;
                    right: 30%;
                }
            }
            a:hover::before {
                transform: rotateY(360deg);
                transition-duration: 0.7s;
            }
            a:hover {
                background-color: $main-green;
            }
            .facebook {
                &::before {
                    content: "\f09a";
                }
            }
            .skype {
                &::before {
                    content: "\f17e";
                }
            }
            .youtube {
                &::before {
                    content: "\f167";
                }
            }
            .linkedin {
                &::before {
                    content: "\f09a";
                }
            }
            .github {
                &::before {
                    content: "\f0d5";
                }
            }
            .instagram {
                &::before {
                    content: "\f16d";
                }
            }
        }
    }
}