#Team{
    .team-content{
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        grid-template-rows: 430px;     
        gap: 40px;
        margin-top: 40px;

        .team-content-item{
            

            .team-member{
                width: 100%;
                height: 73%;
                position: relative;
                a{                                      
                    width: 100%;
                    height: 100%;
                    display: inline-block;                   
                                       
                    img{
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                    
                        background-repeat: no-repeat;
                        background-position: center center;
                        object-fit: cover;
                        border-top-left-radius: 7px;
                        border-top-right-radius: 7px;
                    }

                    

                }

                .team-member-social{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    
                    z-index: 5;
                    display: flex;
                    opacity: 0;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0,0,0,0.6);
                        opacity: 0;

                    }

                    a{
                        @extend .flex;
                        @extend .flex--justify-center;
                        @extend .align-center;

                        i{
                            font-size: 2rem;
                            position: relative;
                            z-index: 5;
                            
                        }
                    }
                }

                .team-member-info{
                    background-color: #151515;
                    @extend .flex;
                    @extend .flex--justify-center;
                    flex-direction: column;
                    @extend .align-center;
                    color: white;
                    
                    border-top: 5px solid $main-green;

                    h4{
                        font-size: 1.3rem;
                        font-weight: 600;
                    }

                    p{
                        font-size: 1rem;
                        font-style: italic;
                        @extend .mb-20;
                    }
                    
                }
                
            }
        }

        .team-content-item:hover .team-member-info{
            background-color: $main-green;
            transition: .5s;
            
        }

        .team-member a:hover::after{
            opacity: 1;
            transition: .5s;
        }

        .team-content-item:hover .team-member-social{
            opacity: 1;
        }

        .team-content-item:hover .team-member-social::before{
            opacity: 1;
        }
        
       

    }
}