#Testimonials {
    background-image: url(/images/service-big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    position: relative;
    height: 100vh;
    clip-path: polygon(100% 0%, 0% 10%, 0% 100%, 100% 90%);
    margin-top: 50px;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .testimonial-content {
        position: relative;
        z-index: 3;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @extend .mt-40;
        h1 {
            font-size: 3.5rem;
            @extend .mb-15;
        }
        .head-green {
            color: $main-green;
            font-size: 3.5rem;
        }
        span {
            font-size: 1.2rem;
        }
    }
    .testimonial-content-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            border: 6px solid #f9f9f9;
            background: #f9f9f9;
            border-radius: 50%;
            @extend .my-30;
        }
        p {
            font-size: 1.1rem;
            font-style: italic;
            text-align: center;
            @extend .mb-20;
        }
        h5 {
            color: $main-green;
        }
        h5,
        h6 {
            font-weight: 500;
            font-size: 1.3rem;
            margin: 0px;
        }
    }
}